{% extends "base.html" %}

{% block content %}
  
<style>
    table {
        background-color: #04bdbd20;
    }
    .alert-error {
        background-color: rgba(240, 128, 128, 0.237);
        color: rgb(234, 73, 73);
    }
</style>

<div class="row mb-3">
    <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">جميع المستخدمين</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: gray;" href="{% url 'creat_user' %}">اضاقة مستخدم</a>
            </li>
          </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card p-4">
            <form action="">
                <div class="row">
                    <div class="col-2">
                        <label for="username" class="form-label mt-2">ادخل اسم المستخدم</label>
                    </div>
                    <div class="col">
                        <input type="text" name="username" id="username" placeholder="ادخل اسم المستخدم" class="form-control mt-2">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-success mt-2">بحث</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>الكل</option>
                            <option value="1">مرضى</option>
                            <option value="2">دكاترة</option>
                            <option value="3">اداري</option>
                          </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card p-2">
            {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h4 class="m-3">جدول المستخدمين</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>اسم المستخدم</th>
            <th>الاسم الاول</th>
            <th>الاسم الثاني</th>
            <th>الايميل</th>
            <th>الدور</th>
            <th class="text-center">اجراء</th>
        </tr>
    </thead>
    <tbody>
        {% for i in users %}
        <tr>
            <td>{{i.username}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.role}}</td>
            <td class="text-center"><a href="{% url 'delete_user' i.id %}"><button class="btn btn-outline-danger m-1">حذف</button></a><a href="{% url 'update_user' i.id %}"><button  class="btn btn-outline-dark m-1">تعديل</button></a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>
{% endblock content %}